html, body {
	font-family: "Lucida Console", "Courier New", monospace;
	overflow: hidden;
	margin: 0;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

table, tr, td, th {
	border: 1;
	padding-top: 10px;
  	padding-bottom: 10px;
  	padding-left: 5px;
  	padding-right: 5px;
	margin: 0;
}

table{
	position:absolute;
	border-collapse: collapse;
	color: #000;
	border: #000;
}

tr{
	background-color: #C47438;
}

#table_detail .hidden_row {
	font-family: "Open Sans";
	display: none;
	background-color: #D99F42;
}

#editor_window {
	background-color: #8B8B8C;
}

#title_bar{
	background-color: #1C4EAA;
}

#drawing {
    //background-color: pink;
	width: 100%;
    height: 100%;
}